* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: black;
    color: white;
}

.hidden { display: none; }

.animation {
    width: 555px;
    margin: 0 auto;
    border: thin solid black;

    position: relative;
    overflow: hidden;

    background-color: white;
}

#Intro { position: relative; z-index: 5000; }

.text-fade { animation: fadeWordsIn 4s forwards; }

.vincent-intro {
    position: absolute;
    top: 260px;
    left: 0;

    height: 150px;

    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.animate-vincent {
    animation-name: moveVincent;
}

#firstFive > path, #secondFive > path, #lastOne > path{ 
    opacity: 0; 
}

.start-button { 
    position: absolute;  
    bottom: 30px;
    left: 440px;
    width: 100px;

    cursor: pointer;

    z-index: 5001;
}

#Intro {animation-duration: 4s; animation-delay: 0s }
#burton { animation-duration: 4s; animation-delay: 3s }
#tim { animation-duration: 4s;  animation-delay: 3s }
#by { animation-duration: 3s; animation-delay: 3s }
#vincent { animation-duration: 6s;  animation-delay: 3s }
#kinect { animation-duration: 3s;  animation-delay: 3s }

#Vincentt {animation-delay: 7.0s; }
#Malloy { animation-delay: 7.2s; }
#is { animation-delay: 7.9s;}
#seven { animation-delay: 8.3s; }

#years { animation-delay: 8.6s; }
#old { animation-delay: 8.8s; }
#rec01 { animation-duration: 7s; animation-delay: 9.5s; }
#hesOne { animation-delay: 10s; }
#always { animation-delay: 10.4s; }
#p { animation-delay: 10s; }
#o { animation-delay: 10.2s; }
#l { animation-delay: 10.3s; }
#I { animation-delay: 10.4s; }
#t { animation-delay: 10.5s; }
#e { animation-delay: 10.6s; }
#and { animation-delay: 10.8s; }
#does { animation-delay: 10.9s; }
#ehat  { animation-delay: 11.0s; }
#hesTwo { animation-delay: 11.1s; }
#told { animation-delay: 11.8s; }

#for { animation-delay: 13.3s; }
#a { animation-delay: 13.5s; }
#boy { animation-delay: 13.7s; }
#hisThree { animation-delay: 13.9s; }
#age { animation-delay: 14.3s; }
#isTwo { animation-delay: 14.7s; }
#rect02 { animation-delay: 15s; }
#considerate { animation-delay: 15s; }
#andOne { animation-delay: 15.5s; }
#nice { animation-delay: 15.7s; } 

#but { animation-delay: 17.2s; }
#heFour { animation-delay: 17.3s; }
#wants { animation-delay: 17.5s; }
#to { animation-delay: 17.7s; }
#be { animation-delay: 17.9s; }
#just { animation-delay: 18.0s; }
#like { animation-delay: 19s; }
#vincentLast { animation-delay: 19.5s; }
#price { animation-delay: 20s; } 

.intro-fade {
    animation-name: fadeElementOut;
    animation-fill-mode: forwards;
}

.vincent-zoom { animation: zoomVincent 10s forwards; }

.vincent-zoom { 
    position: absolute;
    z-index: 500;
    bottom: 0px;
    right: -10px;

    transform: scale(0.7);
    animation-delay: 20.3s;

    opacity: 0;
}

#vincentImgRight {
    position: absolute;
    top: 260px;
    right: -200px;
    height: 150px;
    width:30%;
}

.moveRight {
    animation:moveToRight;
    animation-delay: 11.0s;
    animation-fill-mode: forwards;
    animation-duration: 8s;
}

/* generic opacity fade */
@keyframes fadeElementOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes moveVincent {
    to { left: -500px; }
}

@keyframes fadeWordsIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes zoomVincent {
    0% { opacity: 0 }
    10% { opacity: 1 }

    80% { transform: scale(1.8); opacity: 0; }
    100% { opacity: 0; transform: scale(1); }
}


@keyframes moveToRight {
    to { right:0px; }

    80% { opacity: 1 }

    100% { opacity: 0 }
}

